<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./home-files/css/components-styles.css">
</head>
<body>
    <div style="background-color: #010102; border-radius: 25px; border: 1.5px solid #898989; width: 15vw;">
       
<div class="flex justify-center" style="width: 90%; height: 93%; margin-left: 5%; margin-right: 5%; padding-bottom: 3%;">
    <div style="border: 1px solid #010102; width: 100%; border-radius: 25px; height: 100%;" ng-include="'./home-files/components/screenshotTwo.html'"></div>
</div>
    </div>
</body>
</html>