<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div class="screenshot-container" style="height: 100%;">

             <!-- Cameras on iphone-->
             <div class="outline" style="display: flex; justify-content: center; background-color: #010102; width: 40%; border-radius: 15px; z-index: 40; gap: 4px;">
                <div class="outline" style="background-color: black; border: 2px solid gray; border-radius: 50%; height: 20px; width: 20px;"></div>
                <div class="outline" style="background-color: black; border: 2px solid gray; border-radius: 50%;  height: 10px; width: 10px;"></div>
             </div>


            <div style=" width: 97.5%; height: 10%; background-color: #1a1a1a; border-top-left-radius: 6px; border-top-right-radius: 6px; display: flex; justify-content: space-between;">
                <div style="margin-left: 6px; margin-top: 6px;"><p style="font-size: 80%;">10:38</p></div>
                <div style="margin-right: 6px; margin-top: 2px; display: flex; flex-direction: row; justify-content: space-around;">
                    <div><span style="font-size: 80%;" class="material-symbols-outlined">
                        signal_cellular_alt
                        </span></div>

                        <div style="margin-top: 2px;">
                            <p style="font-size: 80%;">5G</p>
                        </div>
                </div>
            </div>

           
            <img style="height: 90%; " src="./images/peepnest-screenshot-1.jpg" alt="screenshot">
        </div>
    </body>
</html>